@using SportsData.Data.Models;
@model List<Team>


<div class="text-center">
    <img src=@Url.Content("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi8CEtlJ-aFL_qjupYF2yqDFHNir2S6xaEOapE971YJg&s") />
</div>

<a class="table table-hover" asp-area="" asp-controller="Team" asp-action="AddTeam">Add new Team</a>
<table class="table">
    <thead>
    <th scope="col">Number</th>
    <th scope="col">Team Name</th>
    <th scope="col">Sport</th>
    <th scope="col">Stadium</th>
    <th scope="col">Coach</th>
    <th scope="col">Delete</th>
    <th scope="col">Edit</th>
    </thead>
    <thead>
        @for (int i = 0; i < Model.Count(); i++)
        {
            int line = i + 1;
            string coachName = @Model[i].Coach.FirstName + " " + @Model[i].Coach.LastName;
            <tr class="table">
                <th scope="col">#@line</th>
                <th scope="col">@Model[i].Name</th>
                <th scope="col">@Model[i].SportName</th>
                <th scope="col">@Model[i].Stadium.Name</th>
                <th scope="col">@coachName</th>
                <th scope="col">
                    <form class="mt-2" asp-controller="Team" asp-action="Delete" asp-route-id="@Model[i].Id">
                        <div class="d-grid gap-2">
                            <input type="Submit" value="Delete" class="btn btn-danger mb-2"/>
                        </div>
                    </form>
                </th>
                <th scope="col">
                    <form class="mt-2" asp-controller="Team" asp-action="Edit" method = "get" asp-route-id="@Model[i].Id">
                        <div class="d-grid gap-2">
                            <input type="Submit" value="Edit" class="btn btn-danger mb-2"/>
                        </div>
                    </form>
                </th>

            </tr>
        }
    </thead>
</table>