@using SportsData.Data.Models;
@model List<Team>


<div class="text-center">
    <img src=@Url.Content("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi8CEtlJ-aFL_qjupYF2yqDFHNir2S6xaEOapE971YJg&s") />
</div>
<h2>
    <div class="text-center">
        <a class="nav-link text-success" asp-area="" asp-controller="Team" asp-action="AddTeam">Add new Team</a>
    </div>
</h2>

<h2>
    Ordered by Stadium Name
</h2>
<table class="table table-bordered">

    <thead>
    <th>
        <div class="text-center">
            <div class="col-sm">
                <a class="nav-link text-primary" asp-area="" asp-controller="Team" asp-action="AllTeamsByName">Name </a>
            </div>
        </div>
    </th>
    <th scope="col">Sport</th>
    <th
         <div class="text-center">
            <div class="col-sm">
                <a class="nav-link text-primary" asp-area="" asp-controller="Team" asp-action="OrderbyStadiumNamev2">Stadium</a>
            </div>
        </div>

    </th>
    <th
        <div class="text-center">
            <div class="col-sm">
                <a class="nav-link text-primary" asp-area="" asp-controller="Team" asp-action="OrderByCoachName">Coach</a>
            </div>
        </div>
    </th>
    <th scope="col">Delete</th>
    <th scope="col">Edit</th>
    <th scope="col">Change Coach</th>
    </thead>
    <thead>
        @for (int i = 0; i < Model.Count(); i++)
        {
            int line = i + 1;
            string coachName = @Model[i].Coach.FirstName + " " + @Model[i].Coach.LastName;
            <tr class="table">
                <th scope="col">@Model[i].Name</th>
                <th scope="col">@Model[i].SportName</th>
                <th scope="col">@Model[i].Stadium.Name</th>
                <th scope="col">@coachName</th>
                <th scope="col">
                    <form class="mt-2" asp-controller="Team" asp-action="Delete" asp-route-id="@Model[i].Id">
                        <div class="d-grid gap-2">
                            <input type="Submit" value="Delete" class="btn btn-danger mb-2" />
                        </div>
                    </form>
                </th>
                <th scope="col">
                    <form class="mt-2" asp-controller="Team" asp-action="Edit" method="get" asp-route-id="@Model[i].Id">
                        <div class="d-grid gap-2">
                            <input type="Submit" value="Edit" class="btn btn-success mb-2" />
                        </div>
                    </form>
                </th>
                <th scope="col">
                    <form class="mt-2" asp-controller="Team" asp-action="ChangeCoach" method="get" asp-route-id="@Model[i].Id">
                        <div class="d-grid gap-2">
                            <input type="Submit" value="ChangeCoach" class="btn btn-warning mb-2" />
                        </div>
                    </form>
                </th>

            </tr>
        }
    </thead>
</table>